
<section>
  <h2>Finding elements by test id</h2>

  <p class="fragment">
    Add a <code>data-testid</code> attribute on your html elements
  </p>

  <pre class="fragment"><code class="html">
    &lt;button
      type="submit"
      class="btn btn btn-secondary"
      data-testid="navbar-search-button"
    >
      Search
    &lt;/button>
  </code></pre>

  <if-pw>
    <pre class="mt-150 fragment"><code class="typescript">
      page.getByTestId('navbar-search-button')
    </code></pre>
  </if-pw>
  <if-cy>
    <pre class="mt-150 fragment"><code class="typescript">
      cy.get(`[data-testid=navbar-search-button]`)
        .click()                        
    </code></pre>
  </if-cy>

  <p class="mt-200r text-center fragment">
    Locators based on <strong>test ids</strong> are simple, efficient and robust
    to changes
  </p>

  <aside class="notes">
    The data-cy attribute will not change from CSS style or JS behavioral
    changes, meaning it's not coupled to the behavior or styling of an element.
    Don't test it if it's not testable
  </aside>
</section>
