<section class="text-size-1">
  <h2>Finding elements</h2>

  <div class="mt-500r flex-row flex-row--center" style="justify-content: space-evenly;">
    <p class="fragment text-center">3 ways to find elements<br/>with Playwright:</p>

    <ul class="no-bullets">
      <li class="fragment"><i class="emo emo-36 emoji-point-right"></i>By <strong>user-facing attributes</strong></li>
      <li class="fragment mt-75"><i class="emo emo-36 emoji-point-right"></i>By <strong>CSS locators</strong></li>
      <li class="fragment mt-75"><i class="emo emo-36 emoji-point-right"></i>By <strong>test id</strong></li>
    </ul>

  </div>
</section>
