<section class="">
  <h2>Interactions and Verifications</h2>

  <p class="fragment">
    We use <strong>locators</strong> to find element(s) on the page
  </p>

  <ul class="mt-125r">
    <li class="fragment">
      <p>To interact with elements</p>
      <pre class="mt-75r fragment">
        <code class="ts">
          // await  &lt; Locator >                                   .&lt; interaction >
             await  page.getByLabel('Email address')              .fill('John')
             await  page.getByLabel('Password')                   .fill('secret-password')
             await  page.getByRole('button', { name: 'Log in' })  .click()
        </code>
      </pre>
      <p class="smaller fragment">
        List of available interactions:
        <a>https://playwright.dev/docs/api/class-locator</a>
      </p>
    </li>
    <li class="mt-125r fragment">
      <p>For verifiations</p>
      <pre class="mt-50r fragment">
        <code class="ts">
          // await expect(  &lt;Locator>                 ).&lt; verifiction >
             await expect(  page.getByRole('status')  ).toBeVisible()
             await expect(  page.getByRole('status')  ).toHaveText('Bienvenue')
        </code>
      </pre>
      <p class="smaller fragment">
        List of available verifications:
        <a>https://playwright.dev/docs/api/class-locatorassertions</a>
      </p>
    </li>
  </ul>
</section>

<section class="text-size-">
  <h2>Finding elements by user-facing attributes</h2>

  <div class="mt-200r">
    <p>Playwright recommends prioritizing locators based on <strong>user-facing attributes</strong></p>
    <ul class="mt-100r">
      <li>
        <code>page.getByRole()</code> to locate interactive elements like <code>button</code>, <code>a</code>, <code>input</code>, etc.
      </li>
      <li>
        <code>page.getByLabel()</code> to locate form fields
      </li>
      <li>
        <code>page.getByPlaceholder()</code> to locate form fields that do not have labels but do have placeholder texts
      </li>
      <li><code>page.getByText()</code> to find non interactive elements like <code>div</code>, <code>span</code>, <code>p</code>, etc.</li>
    </ul>
    <p class="mt-200r smaller">
        See examples: <a>https://playwright.dev/docs/api/class-locator</a>
    </p>
  </div>

</section>


