/* Base from https://codepen.io/3psy0n/pen/PoxxWBL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

html {
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.light {
	background-color: rgb(241 245 249);
}

.dark {
	background-color: rgb(15 23 42);
}

.container {
	margin: 2.5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

code {
	font-size: 14px;
	padding: 0 0.125rem;
	margin: 0 0.25rem;
	background-color: rgb(255 255 255 / 0.6);
}

.text-presentation {
	font-size: 16px;
	text-align: center;
	padding: 1rem;
	margin: 0;
	border: 1px solid #d1d1d1;
}

/* Admonition */
.admonition {
	border-radius: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 300;
	padding: 1rem;
	border-width: 1px 1px 1px 6px;
	border-style: solid;
	box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.1), 0 1px 5px -1px rgb(0 0 0 / 0.1);
	max-width: 56rem;
}

.admonition .title {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0;
}

.admonition .title::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	margin-right: 0.5rem;
}

.admonition .content {
	font-weight: 300;
	font-size: 0.85rem;
	line-height: 1.25rem;
	margin: 0.5rem 0 0 0;
}

/* No font-awesome */
.admonition .title-svg,
.admonition .title-before {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0;
	display: flex;
	align-items: center;
}
.admonition .title-svg svg {
	margin-right: 0.5rem;
}

/* SVG ::before */
.admonition .title-before:before {
	margin-right: 0.5rem;
	width: 20px;
	height: 20px;
	/* Can be content: url("icon.svg"); */
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%231e3a98' d='m235.33 116.72l-96.05-96.06a16 16 0 0 0-22.56 0l-96 96.06a16 16 0 0 0 0 22.56l96.05 96.06a16 16 0 0 0 22.56 0l96.05-96.06a16 16 0 0 0 0-22.56ZM120 80a8 8 0 0 1 16 0v56a8 8 0 0 1-16 0Zm8 104a12 12 0 1 1 12-12a12 12 0 0 1-12 12Z'/%3E%3C/svg%3E");
}
/* END */

/* Admonition colors */
.admonition.warning {
	border-color: rgb(113 63 18 / 0.1);
	border-left-color: #f5bb3d;
	background-color: #fbe4b1;
	color: rgb(113 63 18);
}

.admonition.warning .title::before {
	content: "\f071";
}

.admonition.danger {
	border-color: rgb(239 68 68 / 0.1);
	border-left-color: #ef4444;
	background-color: #fcdada;
	color: rgb(127 29 29);
}

.admonition.danger .title::before {
	content: "\f06d";
}

.admonition.important {
	border-color: rgb(99 102 241 / 0.1);
	border-left-color: #6366f1;
	background-color: #ede9fe;
	color: rgb(49 46 129);
}

.admonition.important .title::before {
	content: "\f06a";
}

.admonition.notice {
	border-color: rgb(59 130 246 / 0.1);
	border-left-color: #3b82f6;
	background-color: #dbeafe;
	color: rgb(30 58 138);
}

.admonition.notice .title::before {
	content: "\f024";
}

.admonition.tip {
	border-color: rgb(16 185 129 / 0.1);
	border-left-color: #10b981;
	background-color: #d1fae5;
	color: rgb(20 83 45);
}

.admonition.tip .title::before {
	content: "\f0eb";
}

.admonition.note {
	border-color: rgb(107 114 128 / 0.1);
	border-left-color: #6b7280;
	background-color: #e5e7eb;
	color: rgb(17 24 39);
}

.admonition.note .title::before {
	content: "\f040";
}

.admonition.question {
	border-color: rgb(254 218 0 / 0.1);
	border-left-color: #feda00;
	background-color: #fff5b7;
	color: rgb(99 75 8);
}

.admonition.question .title::before {
	content: "\f059";
}
