
@import url(/node_modules/reveal.js/dist/theme/black.css);

@import url(./highlight/atom-one-dark.css);


:root {
    --r-background-color: #2a2a2a;
    --r-main-font: Source Sans Pro, Helvetica, sans-serif;
    --r-main-color: #cccccc;
    --r-heading-font: Lato, Source Sans Pro, Helvetica, sans-serif;
    --r-heading-color: var(--color-lightGreen2);
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: none;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 600;
    --r-heading1-text-shadow: none;
    --r-code-font: monospace;
    --r-link-color: var(--r-main-color);
    --r-link-color-dark: #1a53a1;
    --r-link-color-hover: #6ca0e8;
    --r-selection-background-color: #98bdef;
    --r-selection-color: #fff;


    --r-gray-text-color: #999;
    
    --system-color-boxBackground: #333;
    --system-color-boxBorder: #999;

    --system-color-bubbleBackground: lightyellow;

    --system-color-codeBorder: #4c4c4c;
    --system-color-codeBackground: #333;
  }


  