@import "material_design_colors";

:root {
  --r-heading-color: #{$color-lightBlue-800};
  --system-color-strongText: #{$color-lightBlue-700};
  --system-color-rectangleBackground: #{$color-lightBlue-50};
  --system-color-rectangleBorder: #{$color-cyan-800};
}
