@use 'components';
@use 'mixins' as m;

@import 'material_design_colors';

$block-margin: 32px;

:root {
  --r-background-color: white;
  --r-main-font: Source Sans Pro, Helvetica, sans-serif;
  --r-main-color: #444;
  --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
  --r-heading-color: #{$color-green-800};
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-code-font: monospace;
  --r-link-color: var(--r-main-color);
  --r-link-color-dark: #1a53a1;
  --r-link-color-hover: #6ca0e8;
  --r-selection-background-color: #98bdef;
  --r-selection-color: #fff;
  --r-block-margin: #{$block-margin};
  --r-heading-margin: 24px 0 32px 0;
  --r-main-font-size: 2.5rem;
  --r-heading1-size: 6rem;
  --r-heading2-size: 4rem;
  --r-heading3-size: 3rem;
  --r-heading4-size: 2.5rem;

  --system-color-strongText: #{$color-lightGreen-800};
  --system-color-codeBorder: #dddddd;
  --system-color-codeBackground: #fafafa;
  --system-color-boxBackground: #f8f8f8;
  --system-color-boxBorder: #999;
  --system-color-rectangleBackground: #{$color-lime-100};
  --system-color-rectangleBorder: #{$color-lightGreen-800};
  --system-color-bubbleBackground: #d0e9ff;
  --system-color-bubbleText: #000;
  --system-color-tagOptionalBackground: #{$color-lime-200};
}

@media screen {
  .print,
  .print * {
    display: none !important;
  }
}

@media print {
  img {
    border: 0px !important;
  }

  .screen,
  .screen * {
    display: none !important;
  }

  html .reveal .slides section.screen {
    visibility: none !important;
    display: none !important;
  }
}

.reveal {
  section {
    text-align: left;
  }

  p:first-child {
    margin-top: 0;
  }

  a {
    color: var(--r-link-color);
    text-decoration: underline;
  }

  p {
    margin: var(--r-block-margin) 0 0;
    line-height: 1.3;
  }

  table td {
    border: none;
  }

  table tr:not(.fragment) + tr:not(.fragment) td {
    border-top: 1px solid;
  }

  table tr.fragment.visible + tr.fragment.visible td {
    border-top: 1px solid;
  }

  table td {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }

  .slide--presentation-title h1 {
    line-height: 1.1em;
  }

  ol,
  ul,
  ul ul {
    margin-left: 0.25em;
    padding-inline-start: 1.1em;
  }

  ol:not(:first-child),
  ul:not(:first-child),
  li:not(:first-child),
  li > ol,
  li > ul {
    margin-top: 0.5rem;
  }

  li {
    font-size: 0.85em;
  }

  ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0.5em;
  }

  .mt-25r {
    margin-top: 0.25em * 0.75 !important;
  }

  .mt-50r {
    margin-top: 0.5em * 0.75 !important;
  }

  .mt-75r {
    margin-top: 0.75em * 0.75 !important;
  }

  .mt-100r {
    margin-top: 1em * 0.75 !important;
  }

  .mt-150r {
    margin-top: 1.5em * 0.75 !important;
  }

  .mt-200r {
    margin-top: 2em * 0.75 !important;
  }

  .mt-300r {
    margin-top: 3em * 0.75 !important;
  }

  .mt-350r {
    margin-top: 3.5em * 0.75 !important;
  }

  .mt-400r {
    margin-top: 4em * 0.75 !important;
  }

  .mt-500r {
    margin-top: 5em * 0.75 !important;
  }

  .mt-600r {
    margin-top: 6em * 0.75 !important;
  }

  .mt--100 {
    margin-top: $block-margin * -1 !important;
  }

  .mt--50 {
    margin-top: $block-margin * -0.5 !important;
  }

  .mt--25 {
    margin-top: $block-margin * -0.25 !important;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .mt-25 {
    margin-top: $block-margin * 0.25 !important;
  }

  .mt-50 {
    margin-top: $block-margin * 0.5 !important;
  }

  .mt-75 {
    margin-top: $block-margin * 0.75 !important;
  }

  .mt-100 {
    margin-top: $block-margin !important;
  }

  .mt-125 {
    margin-top: $block-margin * 1.25 !important;
  }

  .mt-150 {
    margin-top: $block-margin * 1.5 !important;
  }

  .mt-200 {
    margin-top: $block-margin * 2 !important;
  }

  .mt-250 {
    margin-top: $block-margin * 2.5 !important;
  }

  .mt-300 {
    margin-top: $block-margin * 3 !important;
  }

  .mt-400 {
    margin-top: $block-margin * 4 !important;
  }

  .mt-500 {
    margin-top: $block-margin * 5 !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mb-25 {
    margin-bottom: $block-margin * 0.25 !important;
  }

  .mb-50 {
    margin-bottom: $block-margin * 0.5 !important;
  }

  .mb-100r {
    margin-bottom: 1em * 0.75 !important;
  }

  .mb-200r {
    margin-bottom: 2em * 0.75 !important;
  }

  .ms-0 {
    margin-left: 0 !important;
  }

  //   TODO remove, and rename others without the r
  .ms-50 {
    margin-left: $block-margin * 0.5 !important;
  }

  .ms-25r {
    margin-left: 0.25em * 0.75 !important;
  }

  .ms-50r {
    margin-left: 0.5em * 0.75 !important;
  }

  .ms-100r {
    margin-left: 1em * 0.75 !important;
  }

  .ms-200r {
    margin-left: 2em * 0.75 !important;
  }

  strong {
    color: var(--system-color-strongText);
  }

  .no-wrap {
    text-wrap: nowrap;
  }

  .block {
    width: fit-content;
    margin: auto;
    text-align: left;
  }

  h3 {
    text-align: left;
    color: var(--r-main-color);
    display: list-item;
    list-style-type: square;
    margin: 0 50px 0 50px;
  }

  h3:not(:first-child) {
    margin-top: 60px;
  }

  pre {
    margin: var(--r-block-margin) auto 0;
    width: 90%;
    min-width: fit-content;

    code.hljs {
      max-height: unset;

      &.has-highlights tr:not(.highlight-line) {
        opacity: 0.5;
      }

      td {
        border: none !important;
      }
    }
  }

  code:not(pre code) {
    background: var(--system-color-codeBackground);
    border: 2px solid var(--system-color-codeBorder);
    font-size: 0.7em;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0 0.1em;
  }

  .part-title {
    display: inline-block;
    margin: -20px 0 0 0;
    text-align: left;
  }

  .part-title h1 {
    margin: 0;
    line-height: 1em;
  }

  part-number {
    @extend .text-level-4;
  }

  .slide--vcenter {
    height: 700px; /* a little less than the slide height (see Reveal.initialize(...) */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .flex-row {
    @include m.flex-row;
  }

  .flex-row--top {
    align-items: flex-start;
  }

  .flex-row--center {
    justify-content: center;
  }

  .flex-column {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
  }

  .slide--part-title .flex-row {
    gap: 1em;
  }

  .tiny-gap {
    gap: 0.5em;
  }

  .gap-10 {
    gap: 1em;
  }

  .no-gap {
    gap: 0;
  }

  .slide--part-title .flex-row {
    gap: 2em;
  }

  .slide--part-title .flex-row .part-title {
    flex-basis: 65%;
  }

  .slide--part-title .flex-row .part-toc {
    flex-basis: 35%;
    min-width: 400px;
  }

  .part-toc {
    text-align: left;
    max-width: 40%;
  }

  .part-toc h2 {
    margin: auto;
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
  }

  .part-toc ul {
    margin: 0.3em 0 0;
  }

  .part-toc a,
  #toc li a {
    color: inherit;
    text-decoration: inherit;
  }

  #toc h2 {
    margin-bottom: $block-margin * 0.6;
  }

  #toc > ol,
  #toc > div > ol {
    column-count: 3;
    column-gap: 5rem;
    width: 100%;
    margin: 0;
  }

  #toc ul {
    margin-left: 0;
    padding-left: 1em;
    margin-top: 0.33em;
  }

  #toc ol > li:not(:first-child) {
    margin-top: 0.9em;
  }

  #toc ol > li:nth-child(3) {
    margin-bottom: 6em;
  }

  @media print {
    .part-toc {
      margin-top: 3em !important;
    }
  }

  .box + .box {
    margin-top: 70px;
  }

  .box {
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    z-index: -1000;
    margin: auto;
    background-color: var(--system-color-boxBackground);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: dashed 5px var(--system-color-boxBorder);
    position: relative;
  }

  .box_label {
    position: absolute;
    margin: 0;
    top: 0.8em;
    left: 1em;
    font-weight: 700;
    font-size: 1em;
  }

  .box .box__title {
    margin: 0;
    font-weight: 600;
  }

  .rectangle {
    display: inline-block;
    font-size: 1.25rem;
    text-align: center;
    padding: 15px 20px;
    color: #2a2a2a;
    border-radius: 50% 4% 50% 2% / 2% 50% 2% 50%;
    background: var(--system-color-rectangleBackground);
    border: solid 5px var(--system-color-rectangleBorder);
  }

  .presentation-toc a {
    color: inherit;
    text-decoration: inherit;
  }

  .overlay-anchor {
    position: relative;
  }

  .overlay {
    position: absolute;
    z-index: 9;
    transform: rotate(-0.5deg);
  }

  .rectangle:has(> .overlay--friction.visible) {
    background-color: #{$color-amber-200};
    border-color: #{$color-orange-800};
  }

  .overlay--friction {
    margin-top: -4px;
    right: 8px;
  }

  .text-size-heading-1 {
    font-size: var(--r-heading1-size);
  }

  .text-size-heading-1-smaller {
    font-size: 5rem;
  }

  .text-size-heading-2 {
    font-size: var(--r-heading2-size);
  }

  .text-size-heading-3 {
    font-size: var(--r-heading3-size);
  }

  .text-size-heading-4 {
    font-size: var(--r-heading4-size);
  }

  .text-level-1 {
    font-size: var(--r-main-font-size);
  }

  .text-level-2 {
    font-size: 2.25rem;
  }

  .text-level-3 {
    font-size: 2rem;
  }

  .text-level-4 {
    font-size: 1.75rem;
  }

  .text-level-5 {
    font-size: 1.5rem;
  }

  .text-level-6 {
    font-size: 1.25rem;
  }

  .fs-90p {
    font-size: 0.9em;
  }

  .fs-80p {
    font-size: 0.8em;
  }

  .fs-75p {
    font-size: 0.7em;
  }

  .fs-70p {
    font-size: 0.7em;
  }

  .text-center {
    text-align: center;
  }

  .emo {
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 0px 0px; /* equivalent to 'top left' */
    vertical-align: middle; /* align the text vertically centered */
    background-size: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 0;
    margin-right: 12px;
    margin-top: -4px;
  }

  .bubble .emo {
    margin-left: 8px;
    margin-right: 0;
  }

  .emo-36 {
    background-size: 36px;
    width: 40px;
    height: 36px;
  }

  .emo-64 {
    background-size: 64px;
    width: 72px;
    height: 64px;
  }

  .emoji-x {
    background-image: url(/img/emoji/x.png);
  }

  .emoji-thumbup {
    background-image: url(/img/emoji/+1.png);
  }

  .emoji-face_with_monocle {
    background-image: url(/img/emoji/face_with_monocle.png);
  }

  .emoji-nerd_face {
    background-image: url(/img/emoji/nerd_face.png);
  }

  .emoji-face_with_symbols_on_mouth {
    background-image: url(/img/emoji/face_with_symbols_on_mouth.png);
  }

  .exercice {
    min-height: 500px;

    .exercice__content {
      width: 70%;
    }

    img.exercice__image {
      position: fixed;
      top: 270px;
      left: 870px;
      width: 25%;
      min-width: 300px;
      margin-bottom: 50px;
      content: url(/img/coding.png);
    }

    pre {
      @extend .mt-25;
      @extend .mb-50;
    }
  }

  .exercice-2 {
    @extend .flex-row;
    @extend .tiny-gap;

    .exercice__content {
      width: 70%;
    }

    img.exercice__image {
      width: 25%;
      min-width: 300px;
      margin: auto 0 auto auto;
      transform: translate(0, 12%);
      content: url(/img/coding.png);
    }

    pre {
      @extend .mt-25;
      @extend .mb-50;
    }
  }

  .highlight-bold {
    visibility: inherit;
  }

  .highlight-bold.visible {
    font-weight: bold;
  }

  .blink-then-stop.current-fragment {
    animation: blinker 1s linear infinite;
  }

  .small {
    font-size: 0.8em;
  }

  .smaller {
    font-size: 0.7em;
  }

  small {
    font-size: 0.7em;
  }

  @keyframes blinker {
    0% {
      color: #000000;
    }
    50% {
      color: #cd8901;
    }
    100% {
      opacity: #000000;
    }
  }

  .indented {
    @extend .fs-90p;
    @extend .ms-200r;
    @extend .mt-25r;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }
}

.leader-line {
  z-index: 1000;

  text {
    font-family: var(--r-main-font);
  }
}
