<section>
  <h2 class="text-size-heading-2" data-tags="practice">
    First test: verify page title
  </h2>

  <app-exercise class="mt-300r fragment">
    <p>Let's code</p>
    <ul>
      <li>
        Implement a test to verify this rule:
        <div class="indented italic bold">
          The home page title contains "All products"
        </div>
      </li>
    </ul>
  </app-exercise>

  <app-help class="mt-600r fragment">
    <if-pw>
      <div style="columns: 2">
        <p>Functions</p>
        <ul>
          <li><code>page.goto()</code></li>
          <li><code>expect(page).toHaveTitle()</code></li>
        </ul>
        <p>Config</p>
        <ul>
          <li>Define a baseUrl: <a>https://playwright.dev/docs/test-configuration</a>
        </ul>
      </div>
    </if-pw>
    <if-cy>
      <p>Functions</p>
      <li>
        <code>cy.visit()</code>, <code>cy.title()</code>,
        <code>cy.should()</code>
      </li>
      <p>Config</p>
      <ul>
        <li><span style="color:red">Define a baseUrl url ?</a></span
      </ul>
    </if-cy>
  </app-help>

  <aside class="notes">
    <if-pw>
      <pre><code class="ts">
        // home.spec.ts
        import { test, expect } from '@playwright/test'
        
        test('The home page title contains "All products', async ({ page }) => {
          await page.goto('/')
          expect(page).toHaveTitle(/\s*Tous les produits\s*/) 
        })
      </code></pre>
    </if-pw>
    <if-cy>
      <pre><code class="ts">
        // home-page.spec.cy.ts
        describe('home-page', () => {
          specify('the home page title contains "All products"', () => {
            cy.visit('/')
            cy.title().should('equals', 'All products | Simple commerce')
          })
        })
      </code></pre>
    </if-cy>
  </aside>
</section>
