<section class="text-level-4">
  <h2 class="text-size-heading-3" data-tags="practice">
    Create and configure a {%= e2eTool %} project
  </h2>

  <app-exercise class="mt-100r fragment">
    <p>Let's code</p>
    <ul>
      <li>Create a github project</li>
      <li>
        Install and configure {%= e2eTool %} to run typescript test
        <if-pw>
          <li>
            Install node types
            <pre><code class="bash">
                npm i --save-dev @types/node
              </code></pre>
          </li>
          <li>
            Create a `tsconfig.json` file to avoid compilation errors in Vscode
            on node types (e.g. process)
            <pre><code class="json">
                {
                  "compilerOptions": {
                    "types": [
                      "node"
                    ]
                  }
                }
            </code></pre>
          </li>
        </if-pw>
      </li>
    </ul>
  </app-exercise>

  <app-help class="fragment mt-200r">
    <p>Links</p>
    <ul>
      <if-pw>
        <li>https://playwright.dev/docs/intro</li>
      </if-pw>
      <if-cy>
        <li>
          https://docs.cypress.io/guides/getting-started/installing-cypress
        </li>
        <li>https://docs.cypress.io/guides/getting-started/opening-the-app</li>
        <li>https://docs.cypress.io/guides/guides/command-line</li>
      </if-cy>
    </ul>
  </app-help>
</section>
