<section class="text-size-3">
  <h2 class="text-size-heading-3" data-tags="practice">
    Create and configure a {%= e2eTool %} project
  </h2>

  <app-exercise class="mt-400r fragment">
    <p>Let's code</p>
    <ul>
      <li>Create a github project</li>
      <li>
        Install and configure {%= e2eTool %} to run typescript test</li>
        <if-pw>
          <li>Run the tests with Playwright CLI</li>
          <li>Run the tests with VS Code</li>
        </if-pw>
    </ul>
  </app-exercise>

  <app-help class="fragment mt-600r">
    <p>Links</p>
    <ul>
      <if-pw>
        <li>https://playwright.dev/docs/intro</li>
      </if-pw>
      <if-cy>
        <li>
          https://docs.cypress.io/guides/getting-started/installing-cypress
        </li>
        <li>https://docs.cypress.io/guides/getting-started/opening-the-app</li>
        <li>https://docs.cypress.io/guides/guides/command-line</li>
      </if-cy>
    </ul>
  </app-help>
</section>
