<section>
  <h2 data-toc-label="Verify the mini-basket" data-tags="practice">
    Define acceptance criteria
  </h2>

  <app-exercise class="mt-300r fragment">
    <p>The Product Owner presents a new story:</p>
    <div class="indented italic bold">
      As a shopper,<br />
      I want to see my basket content in the mini-basket,<br />
      so that I always know the basket's content and amount
    </div>
    <p class="mt-200r">As a team, define acceptance criteria for this story</p>
  </app-exercise>

  <aside class="notes">
    <p>
      _The trainer takes the role of the Product Owner, the participants are the
      testers. They must suggest acceptance criteria to the PO._
    </p>
    <p>_The PO can show mockups or wireframes_</p>
    <p>
      _The PO can kindly reject some criterias if he thinks they are not
      required right now. Example : displaying discounts.
    </p>

    <p>Possible list:</p>

    <p>Toggle</p>
    <ul>
      <li>The mini basket always shows the number of products in basket</li>
      <li>When empty, it doesn't show the number of products in basket</li>
    </ul>

    <p>Detail</p>
    <ul>
      <li>
        _It contains basket entries (with prodcut name, quantity and price)
      </li>
      <li>_When empty, it informs the basket is empty</li>
    </ul>
  </aside>
</section>

<section class="text-level-2">
  <h2 data-toc-exclude data-tags="practice" class="text-size-heading-3">
    Automate the verification with {%= e2eTool %}
  </h2>

  <app-exercise class="mt-200r fragment">
    <p>Let's code</p>
    <ul>
      <li>
        Automate the verification of the acceptance criteria identified during
        the specification workshop
      </li>
    </ul>
  </app-exercise>

  <app-help class="mt-600r fragment">
    <div style="columns: 2">
      <p>Functions</p>
      <ul>
        <if-pw>
          <li><code>page.goto()</code></li>
          <li><code>page.getByTestId()</code></li>
          <li><code>locator.click()</code></li>
          <li><code>locator.toContainText()</code></li>
          <li><code>locator.toHaveText()</code></li>
        </if-pw>
        <if-cy>
          <li><code>cy.visit()</code></li>
          <li><code>cy.get()</code></li>
          <li><code>cy.contains()</code></li>
          <li><code>cy.click()</code></li>
          <li><code>cy.should()</code></li>
        </if-cy>
      </ul>
      <p>Links</p>
      <ul>
        <if-pw>
          <li>https://playwright.dev/docs/api/class-page#methods</li>
          <li>https://playwright.dev/docs/api/class-locatorassertions</li>
        </if-pw>
        <if-cy>
          <li>https://docs.cypress.io/api/table-of-contents</li>
        </if-cy>
        <li>https://www.w3schools.com/cssref/css_selectors.php</li>
        <li>
          https://chromewebstore.google.com/detail/css-and-xpath-checker/aoinfihhckpkkcpholfhmkeplbhddipe
        </li>
      </ul>
    </div>
  </app-help>

  <aside class="notes">
    <p>
      The teacher shows how to automate the tests on the toggle, the trainee
      repeats and automaite the tests on the detail.
    </p>

    <p>The spec file can be created from the Cypress dashboard.</p>
  </aside>
</section>
