{%- await include('../components/slide--partTitle.ejs', {title: 'Getting started'}); %}
{%- await include('gs__create-and-configure-project.ejs'); %}
{%- await include('gs__first-test.ejs'); %}
<section data-markdown="md/getting-started.md">
</section>
{%- await include('gs__bdd_approach.ejs'); %}
{%- await include('css-selectors.ejs'); %}
{%- await include('gs__exercice.ejs'); %}