<section class="text-size-3">
  <h2 class="text-size-heading-3" data-tags="practice">
    Visual Studio Code setup
  </h2>

  <app-exercise class="mt-400r">
    <div class="fragment">
      <p>Install VS Code plugins</p>
      <ul>
        <li>Playwright Test for VSCode</li>
        <li>Playwright Test Snippets</li>
        <li>ESLint</li>
        <li>Prettier - Code formatter</li>
      </ul>
    </div>
    <p class="mt-200r fragment">Run the tests with VS Code</p>
  </app-exercise>
</section>
