<section class="slide--vcenter">
  <div class="bubble bubble-bottom-left" style="font-size: 1.5em;">
    <i class="emo emo-64 emoji-nerd_face"></i>
    <span class="bubble__text">Thank you!</span>
  </div>

  <aside class="notes">
    <h3>feedback on the training</h3>
    <ul>
      <li>what you liked</li>
      <li>what you disliked</li>
    </ul>
    <h3>feedback on the brochure</h3>
    <ul>
      <li>what you liked</li>
      <li>what you disliked</li>
    </ul>
  </aside>
</section>
