<section>
  <h2
    data-toc-label="Verify the basket recovery"
    class="text-size-heading-3"
    data-tags="practice"
  >
    Specification workshop for the basket recovery
  </h2>

  <app-exercise class="mt-400r">
    <p>The Product Owner presents a new story:</p>
    <div class="indented italic bold">
      As a shopper,<br />
      I want to recover my basket,<br />
      so that I don't have to fill it again when I come back
    </div>

    <p class="mt-200r">As a team, define acceptance criteria for this story</p>
  </app-exercise>

  <aside class="notes">
    <u>Possible list:</u>
    <ul>
      <li>After login, the basket contains the items from my last session</li>
      <li>After logout, the mini basket is empty</li>
      <li>
        After login, the basket contains the items I added as an anonymous user
      </li>
      <li>
        After login, the basket contains both the items from my last session and
        those from my current basket
      </li>
    </ul>

    The user can be created manually.
  </aside>
</section>

<section>
  <h2 data-toc-exclude class="text-size-heading-3">
    Automate the basket recovery verification
  </h2>

  <app-exercise class="mt-500r">
    <p>Let's code</p>
    <ul>
      <li>
        Automate the most valuable acceptance criteria to verify the basket
        recovery
      </li>
    </ul>
  </app-exercise>

  <if-cy>
    <app-help class="mt-800r">
      <p>Links</p>
      <ul>
        <li>https://docs.cypress.io/api/table-of-contents</li>
      </ul>
    </app-help>
  </if-cy>

  <aside class="notes">
    <p>
      The teacher starts a <strong>simple</strong> and
      <strong>valuable</strong> scenario
    </p>
    <ul>
      <li>
        After login, the mini basket contains the items from my last session
      </li>
    </ul>
    <p>add <code>SimpleCommerceApp.login()</code></p>
    <p>problem : the test is not repeatable</p>
  </aside>
</section>
