{%- await include('../components/slide--partTitle.ejs', {title: 'Repeatable tests'}); %}
{%- await include('basket-recovery-exercise.ejs'); %}
{%- await include('repeatability-problem.ejs'); %}


<section data-markdown="md/repeatable-tests.md"></section>
