<section class="slide--vcenter">

  <div class="bubble bubble-bottom-left">
    <i class="emo emo-36 emoji-nerd_face"></i>
    <span class="bubble__text">How to make this test repeatable?</span>
  </div>

  <aside class="notes">
    <p>
      We need to either pick a new user, or clear the basket between each test
      This can be done through the ui, but this is tricky to implement A better
      option is to clear the basket through api
    </p>

    <p>
      A developer gives this trick : "call /api/basket/ to get the basket url
      and then delete it"
    </p>
    <ul>
      <li>
        curl -X GET https://.../api/basket/ -u "tom@test.com:tom@test.com"
      </li>
      <li>
        curl -X DELETE https://.../api/basket -u "tom@test.com:tom@test.com"
      </li>
    </ul>
  </aside>
</section>
