<section>
  <h2 data-tags="practice, optional" class="text-size-heading-3">
    Verify the basket recovery - part&nbsp;2
  </h2>

  <app-exercise class="mt-600r">
    <p>Let's code</p>
    <ul>
      <li>Automate the other acceptance criteria on the basket recovery</li>
    </ul>
  </app-exercise>
</section>
