<section>
  <h2>What is reapetability?</h2>

  <p class="mt-300r fragment">You should obtain the same results every time you run a test</p>

  <p class="mt-300r fragment">
    Tests can fail intermittently for a few reasons:
  </p>
  <ul>
    <li class="fragment">Some state is not cleaned up</li>
    <li class="fragment">
      An external service returns different responses for the same request
    </li>
    <li class="fragment">Race conditions</li>
  </ul>
</section>
