<section class="text-size-3">
  <h2 class="text-size-heading-3" data-tags="practice" data-toc-exclude>
    Code with IA agents
  </h2>

  <app-exercise class="mt-400r">
    <p class="fragment">Let's prompt</p>
    <ul>
      <li class="fragment">Generate a test plan for the customer feedback</li>
      <li class="fragment">Automize the most critical scenearios from the plan</li>
    </ul>
  </app-exercise>

  <app-help class="fragment mt-800r">
    <p>Links</p>
    <ul>
      <li>https://playwright.dev/docs/test-agents</li>
    </ul>
  </app-help>
</section>
