<section class="text-size-3">
  <h2 data-toc-exclude>IA environmental costs</h2>

  <div class="fragment">
    <p class="">IA imply significant impacts</p>
    <ul>
      <li>
        Model training and prompts imply
        <strong>greenhouse gas</strong> emissions and <strong>water</strong>
        consumption
      </li>
      <li>
        New data-centers contribute to <strong>soil artificialization</strong>
      </li>
      <li>
        Chips are built from rare earth minerals, mined under conditions that
        carry serious <strong>environmental</strong> and
        <strong>human rights</strong> implications
      </li>
      <li>IA companies lead by (American) private interests</li>
    </ul>
  </div>

  <ul class="no-bullets mt-100">
    <li class="fragment">
      <i class="emo emo-36 emoji-point-right"></i>So use with awareness...
    </li>
    <li class="fragment mt-50">
      <i class="emo emo-36 emoji-point-right"></i>Use the right model for the
      right use case
      <ul>
        <li>
          <p>
            A models 10 times bigger generates impacts one order of magnitude
            larger than a smaller model for the same number of generated tokens
          </p>
        </li>
      </ul>
    </li>
    <li class="fragment mt-50">
      <i class="emo emo-36 emoji-point-right"></i>Choose a provider  that is
      transparent about its energy sourcing
    </li>
  </ul>

  <div class="mt-100r flex-column italic text-size-7 fragment">
    <div>
      <p class="bold">More on the topic:</p>
      <ul class="no-bullets mt-25r">
        <li>
          <a
            >https://blog.octo.com/ia-generative--comprendre-les-systemes-pour-rester-acteur-des-usages</a
          >
        </li>
        <li>
          <a
            >https://green.org/tech/the-hidden-environmental-costs-of-ai-what-every-prompt-means-for-the-planet/</a
          >
        </li>
        <li>
          <a
            >https://mistral.ai/news/our-contribution-to-a-global-environmental-standard-for-ai/
          </a>
        </li>
      </ul>
    </div>
  </div>

  <aside class="notes">
    <h3>feedback on the training</h3>
    <ul>
      <li>
        ChatGPT query uses roughly 10 times the energy of a standard Google
        search
      </li>
      <li>
        Microsoft’s carbon emissions actually rose 29% between 2020 and 2023,
        largely due to data center expansion for AI services.
      </li>
    </ul>
  </aside>
</section>
