
@import url(/node_modules/reveal.js/dist/theme/black.css);

@import url(./highlight/atom-one-dark.css);

/*  #77bc65 vert clair 2 */
/* #333 dark gray */ 
/* eeeff0 light gray */


:root {
    --r-background-color: var(--color-black);
    --r-main-font: Source Sans Pro, Helvetica, sans-serif;
    --r-main-color: var(--color-light-gray-3);
    --r-heading-font: Lato, Source Sans Pro, Helvetica, sans-serif;
    --r-heading-color: var(--color-light-green-2);
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: none;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 600;
    --r-heading1-text-shadow: none;
    --r-code-font: monospace;
    --r-link-color: var(--r-main-color);
    --r-link-color-dark: #1a53a1;
    --r-link-color-hover: #6ca0e8;
    --r-selection-background-color: #98bdef;
    --r-selection-color: #fff;


    --r-gray-text-color: var(--color-light-gray-1);
    
    --diagram-background-color: var(--color-dark-gray-2);
    --diagram-border-color: var(--color-light-gray-1);

    --bubble-background-color: lightyellow;

    --code-border-color: var(--color-dark-gray-1-5);
    --code-background-color: var(--color-dark-gray-2);
  }


  