
@import url(/node_modules/reveal.js/dist/theme/white.css);

@import url(./highlight/atom-one-dark.css);

/*  #77bc65 vert clair 2 */
/* #333 dark gray */ 
/* eeeff0 light gray */


:root {
    --r-background-color: var(--color-black);
    --r-main-font: Source Sans Pro, Helvetica, sans-serif;
    --r-main-font-size: 42px;
    --r-main-color: var(--color-light-gray-3);
    --r-block-margin: 40px;
    --r-heading-margin: 0 0 60px 0;
    --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
    --r-heading-color: var(--color-light-green-2);
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: none;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: normal;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 2.5em;
    --r-heading2-size: 1.6em;
    --r-heading3-size: 1.3em;
    --r-heading4-size: 1em;
    --r-code-font: monospace;
    --r-link-color: #2a76dd;
    --r-link-color-dark: #1a53a1;
    --r-link-color-hover: #6ca0e8;
    --r-selection-background-color: #98bdef;
    --r-selection-color: #fff;

    --diagram-background-color: var(--color-dark-gray-2);
    --diagram-border-color: var(--color-light-gray-1);
  }
