:root {
  --color-dark: #2a2a2a;
  --color-white: #eeeff0;
  --color-black: #2a2a2a;
  --color-light-gray-4: #dddddd;
  --color-light-gray-3: #cccccc;
  --color-light-gray-2: #b2b2b2;
  --color-light-gray-1: #999;
  --color-gray: #808080;
  --color-dark-gray-1: #666;
  --color-dark-gray-1-5: #4c4c4c;
  --color-dark-gray-2: #333;
  --color-light-green-2: #77bc65;
  --color-light-lemon-green-3: #e8f2a1;
  --color-light-lemon-green-2: #d4ea6b;
  --color-light-lemon-green-1: #bbe33d;
  --color-dark-lemon-green-1: #5eb91e;
  --color-dark-lemon-green-2: #468a1a;
  --color-dark-lemon-green-3: #395511;
  --color-orange: #ff6600;
  --color-orange-1: #ffcc00;
  --color-orange-2: #ff9900;
  --color-orange-3: #ff3300;
  --color-orange-4: #cc3300;

  --text-size-level-1: 42px;
  --text-size-level-2: .85em;
  --text-size-level-3: .82em;
  --text-size-level-4: .7em;
  --text-size-level-5: .6em;
  --text-size-level-6: .55em;

  --text-size-tiny: .5em;
  
  --r-block-margin: 30px;
  --r-heading-margin: 10px 0 50px 0;
  --r-main-font-size: var(--text-size-level-1);
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.1em;
  --r-heading4-size: 1em;
}

/* bases */

.reveal p {
  margin: 0 0 var(--r-block-margin);
  line-height: 1.3;
}

.reveal table td {
  border: none;
}

.reveal table tr:not(.fragment) + tr:not(.fragment) td {
  border-top: 1px solid;
}

.reveal table tr.fragment.visible + tr.fragment.visible td {
  border-top: 1px solid;
}

.reveal table td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.reveal .slide--presentation-title h1 {
  line-height: 1.1em;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li {
    margin-top: 1e0px;
}

li + li {
    margin-top: 1rem;
}


.reveal .mb-none {
    margin-bottom: 10px !important;
}

.reveal .mt-0 {
  margin-top: .0em !important;
}

.reveal .mt-1 {
  margin-top: .5em !important;
}

.reveal .mt-2 {
  margin-top: 1em !important;
}

.reveal .mt-3 {
  margin-top: 1.5em !important;
}

.reveal .mt-4 {
  margin-top: 2em !important;
}

.reveal .mt-5 {
  margin-top: 2.5em !important;
}

.reveal .mt-6 {
  margin-top: 3em !important;
}

strong {
    color: var(--color-dark-lemon-green-2);
}

.block {
  width: fit-content;
  margin: auto;
  text-align: left;
}


.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h3 {
  text-align: left;
  color: var(--r-main-color);
  display: list-item;
  list-style-type: square;
  margin: 0 50px 0 50px;
}

.reveal h3:not(:first-child){
  margin-top: 60px;
}


pre code.hljs {
  padding-right: 0; /* this is to avoid the unnecessary scroll bar */
}

code:not(pre code) {
  background-color: var(--color-dark-gray-2);
  font-size: 75%;
  border-radius: 5px;
  padding: 5px 8px;
  border: 2px solid var(--color-dark-gray-1-5);
  margin: 0 5px;
}

.part-title {
  display: inline-block;
  margin: -20px 0 0 0;
  text-align: left;
  max-width: 90%
}

.part-title h1 {
  line-height: 1em;
}

.reveal .slide--vcenter {
  height: 70vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.reveal .flex-row {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  align-items: center;
}

.reveal .flex-column {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
}

/*.slide--part-title .flex-row {
  width: 100%;
}*/

.slide--part-title .flex-row {
  gap: 1em;
}

.reveal .tiny-gap {
  gap: .5em;
}

.slide--part-title .flex-row .part-title {
  flex-basis: 65%
}

.slide--part-title .flex-row .part-toc {
  flex-basis: 35%;
}

.part-toc {
  text-align: left;
}

.part-toc span {
  text-decoration: underline;
  font-weight: bold;
}

.part-toc ul {
  margin: 0 .3em;
}

.slide-title {
  margin:var(--r-heading-margin);
}


.breadcrumb {
  color: var(--r-gray-text-color);
  text-align: left;
  font-size: var(--text-size-tiny);
  margin: 0 0 20px;
}


.box + .box {
  margin-top: 70px;
}

.box {
  font-size: 0.8em;
  text-align: center;
  padding: 20px;
  z-index: -1000;
  margin: auto;
  background-color: var(--diagram-background-color);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:dashed 5px var(--diagram-border-color);
}

.box .box__title {
  margin: 0;
  font-weight: 600;
}

.badge {
  display: inline-block;
  font-size: 0.7em;
  text-align: center;
  padding: 15px 20px;
  color: var(--color-black);
  background: var(--color-light-lemon-green-3);
  border-radius:50% 4% 50% 2% / 2% 50% 2% 50%;
  border:solid 5px var(--color-dark-lemon-green-2);
}


.reveal .presentation-toc {
  width: fit-content;
  margin: auto;
  text-align: left;
}

.reveal .presentation-toc li + li {
  margin-top: .3em;
}

.reveal .presentation-toc li a {
  color: inherit;
  text-decoration: inherit;
}

.reveal .overlay-anchor {
  position: relative;
}

.reveal .overlay {
  position: absolute;
  z-index: 9;
  transform:rotate(-.5deg);
}


.reveal .sticky {
  font-size: var(--text-size-level-5);
  font-style: italic;
  font-weight: bold;
  color: black;
  /* width: 300px; */
  height: fit-content;
  background:rgb(255, 178, 91);
  z-index: 9;
  padding: .8em;
  line-height: 1.5em;
  transform:rotate(-.5deg);
  margin: .2em 1em;
}


.leader-line {
  z-index: 1000;
}

.badge:has(> .overlay--friction.visible) {
  background-color: var(--color-orange-1);
  border-color: var(--color-orange);
 }

.overlay--friction {
  margin-top: -10px;
  right:10px;
  font-size:2.5em;
}

.emoji {
  font-size: 75%;
}


.bubble {
  margin: 1em;
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: lightyellow;
  border-radius: 40px;
  padding: 16px 24px;
  text-align: center;
  color: #000;
  font-family: monospace;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid lightyellow;
  border-right: 12px solid transparent;
  border-top: 12px solid lightyellow;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.bubble .icon {
  font-size: 1.7em;
}


.reveal .text-size-heading-2 {
  font-size: var(--r-heading2-size);
}

.reveal .text-level-2 {
  font-size: var(--text-size-level-2);
}

.reveal .text-level-3 {
  font-size: var(--text-size-level-3);
}

.reveal .text-level-4 {
  font-size: var(--text-size-level-4);
}

.reveal .text-level-5 {
  font-size: var(--text-size-level-5);
}

.reveal .text-level-6 {
  font-size: var(--text-size-level-6);
}

.reveal .text-tiny {
  font-size: var(--text-size-tiny);
}

.reveal .small {
  font-size: 0.6em;
}

.reveal .tiny {
  font-size: 0.4em;
}

.reveal .apart {
  margin-top: 50px;
}
