{%- await include('../components/slide--partTitle.ejs', {title: 'Test strategy', notes: `
On va voir un ensemble de bonnes pratiques,
certaines peuvent ne pas être adaptées à votre contexte,
il n'est pas nécessaire de toutes les adopter
`}); %}
{%- await include('strategy__testing-quadrants.ejs'); %}
{%- await include('strategy__bdd.ejs'); %}

<section class="text-level-1">
  <h2>Technical design workshop</h2>

  <div class="mt-150 fragment">
    <p>
      To ensure a new feature will be testable, have a
      <strong>technical design workshop</strong> and ask:
    </p>
    <p class="text-center"><b>How will we automate these tests?</b></p>
  </div>

  <div class="mt-150 fragment">
    <p>And more specifically</p>
    <ul>
      <li>How to deal with external services?</li>
      <li>Do we need dedicated selectors?</li>
      <li>
        If there are asynchronous processes, how can we know when they are
        finished?
      </li>
    </ul>
  </div>

  <p class="mt-150 fragment">
    It doesn't have to be a formal meeting, but at least, try to ask the
    question before the development starts
  </p>

  <aside class="notes">
    <p>
      Consider having a technical design workshop, where you ask this question:
    </p>

    <p>"How will we test this?"</p>
  </aside>
</section>

<section>
  <h2 data-toc-label="E2E tests should be FIRST">End-to-End tests should be FIRST</h2>

  <div class="flex-row flex-row--center">
    <div>
      <ul class="mt-400r bold fragment">
        <li>Fast</li>
        <li>Isolated</li>
        <li>Repeatable</li>
        <li>Simple</li>
        <li>Timely</li>
      </ul>
    </div>
  </div>

  <aside class="notes">
    <p>Ask the trainee to list the qualities of a good test.</p>
    <p>This is the one thing the learner should memorize.</p>
  </aside>
</section>

<section>
  <h2>Who automates the tests?</h2>

  <p class="mt-300 fragment">Favour a <strong>whole team approach</strong></p>

  <p class="mt-250 fragment">Developers and testers work together to</p>
  <ul>
    <li class="fragment">Build and maintain the test infrastructure</li>
    <li class="fragment">Design testable code</li>
    <!-- Developers write more testable code -->
    <li class="fragment">Write and maintain the automated tests</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>
        Build and maintain the test infrastructure -> requires the dev ops help
      </li>
      <li>Design testable code -> requires developers</li>
      <li>Write and maintain the automated tests -> requires developers</li>
    </ul>
    <p>Any task might be completed by any team member</p>
    <p>
      While a team can have automation experts, it doesn't limit particular
      tasks to particular team members
    </p>
    <p>Everyone should feel responsible for the automated tests</p>
    <p>**Without automated tests, we don't have a quality product.**</p>
  </aside>
</section>

<section>
  <h2>Continuous Integration and Delivery</h2>

  <p class="fragment mt-400">
    Run automated tests on each release, as part of your CI/CD pipeline
  </p>

  <div class="fragment mt-400">
    <p>Run E2E tests on a <strong>dedicated environment</strong></p>
    <ul>
      <li>A shared environment is not predictible</li>
      <li>Try to build the environment as part of your CI/CD pipeline</li>
    </ul>
  </div>

  <aside class="notes">
    <p>On a shared environment, tests can fail for external reasons.</p>
    <p>
      you must have clear control over the environment in which the tests run.
    </p>
  </aside>
</section>

<section>
  <h2>Browsers and mobile devices</h2>

  <div class="mt-200 fragment">
    <p>Consider running your tests on multiple browsers</p>
    <ul>
      <li>
        <a href="https://gs.statcounter.com/browser-market-share/all/europe">
          Browser Market Share
        </a>
      </li>
    </ul>
  </div>

  <div class="mt-200 fragment">
    <p>Consider running your tests on mobile AND desktop</p>
    <ul>
      <li>
        <a
          href="https://gs.statcounter.com/platform-market-share/desktop-mobile-tablet/europe"
        >
          Desktop vs Mobile vs Tablet Market Share
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-row flex-row--center">
    <div class="mt-200 sticky fragment">
      <u>Caution:</u>
      <div class="sticky__content">
        Multi device/browser automation requires <br /><u>extra effort</u>
        in writing, maintenance and execution
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Never ignore failing tests</h2>

  <div class="fragment">
    <div class="fragment custom highlight-bold mt-300">
      <p class="fragment custom blink-then-stop text-center">
        Fix flaky tests as soon as possible
      </p>
    </div>
  </div>

  <p class="fragment mt-300">Don't let flaky tests attack your confidence!</p>

  <p class="fragment mt-200">
    If not fixed within a given time frame, <strong>quarantine</strong> or
    <strong>delete</strong> the flaky test
  </p>
</section>
