<section>
    <h2> Cypress session</h2>

    <p class="mt-400">To speed up the login, <code>cy.session()</code> can be a second-best alternative

    <ul class="no-bullets mt-0">
        <li class="mt-50"><i class="emo emoji-thumbup"></i>Works when authencating with a direct HTTP call is not
            possible
        <li class="mt-50"><i class="emo emoji-x"></i>Small or no benefit when you have dedicated accounts for each
            test
    </ul>

    <small class="mt-500">Using <code>cy.session()</code>: https://docs.cypress.io/api/commands/session</small>
</section>