<section>
    <h2 data-tags="practice, optional" class="text-size-heading-3">
        Speed up your tests - part&nbsp;2
    </h2>
    <app-exercise class="mt-500r">
        <p>Let's code
        <ul>
            <li>Use api calls to add a product to the basket
        </ul>
    </app-exercise>
</section>