

<section class="text-size-4">
  <h2>Robust locators</h2>

  <p class="mt--50 fragment">
    Selectors must be <strong>specific enough</strong> to resist DOM changes
  </p>
  <p class="italic bold small fragment">Let's evaluate these locators!</p>

  <div class="mt--25 flex-row is-gap-8 fragment">
    <pre style="width: unset">
      <code class="html" data-trim data-line-numbers="10-12" style="padding-right:2em;">
        &lt;html>
          &lt;body>
            &lt;nav id="navbar">
              &lt;h1>
                CSS selectors
              &lt;/h1>
              &lt;form class="search-form">  
                &lt;input name="query">
                &lt;div class="form-buttons">
                  &lt;button type="submit">
                    Search
                  &lt;/button>
                &lt;/div>
              &lt;/form>
            &lt;/nav>
            &lt;main class="container">
              ...
            &lt;/main>
          &lt;/body>
        &lt;/html>
      </code>
    </pre>

    <table class="no-border cell-px-quarter">
      <tr class="fragment">
        <td>
          <if-pw>
            <pre><code class="typescript">
              page.locator(
                '#navbar form div.form-buttons button'
              )   
            </code></pre>
          </if-pw>
          <if-cy>
            <pre><code class="typescript">
              cy.get('#navbar form div.form-buttons button')
                .click()                       
            </code></pre>
          </if-cy>
        </td>
        <td>
          <ul class="no-bullets fragment">
            <li class="flex-row justify-content--flex-start">
              <i class="emo emoji-x"></i> Breaks with slight changes in the DOM
            </li>
          </ul>
        </td>
      </tr>
      <tr class="fragment">
        <td>
          <if-pw>
            <pre><code class="typescript">
              page.locator('button', {hasText: 'Search'}) 
            </code></pre>
          </if-pw>
          <if-cy>
            <pre><code class="typescript">
              cy.get('button')
                .contains('Search')
                .click()
            </code></pre>
          </if-cy>
        </td>
        <td>
          <ul class="no-bullets">
            <li class="fragment">
              <div class="flex-row justify-content--flex-start">
              <i class="emo emoji-check"></i>
                Good...
                <br />
              </div>
              <small class="fragment ms-200r">
                ... but breaks when another button appears with the same text
              </small>
            </li>
          </ul>
        </td>
      </tr>
      <tr class="fragment">
        <td>
          <pre><code class="typescript">
            page.getByRole('button', {name: 'Search'})
          </code></pre>
        </td>
        <td>
          <ul class="no-bullets">
            <li class="fragment">
              <div class="flex-row justify-content--flex-start">
              <i class="emo emoji-check"></i>
                Good...
                <br />
              </div>
              <small class="fragment ms-200r">
                ... but breaks when another button appears with the same text
              </small>
            </li>
          </ul>
        </td>
      </tr>
      <if-pw>
        <tr class="fragment">
          <td>
            <pre><code class="typescript">
              page.locator(           
                '#navbar button',
                {hasText: 'Search'}
              )
            </code></pre>
          </td>
          <td>
            <ul class="no-bullets">
              <li class="flex-row fragment">
                <i class="emo emoji-thumbup"></i>Very good
              </li>
            </ul>
          </td>
        </tr>
        <tr class="fragment">
          <td>
            <pre><code class="typescript">
              page 
                .locator('#navbar')
                .getByRole('button', {name: 'Search'})
            </code></pre>
          </td>
          <td>
            <ul class="no-bullets">
              <li class="flex-row fragment">
                <i class="emo emoji-thumbup"></i>Very good
              </li>
            </ul>
          </td>
        </tr>
      </if-pw>
      <if-cy>
        <tr class="fragment">
          <td>
            <pre><code class="typescript">
              cy.get('#navbar button') 
                .contains('Search')    
                .click()  
            </code></pre>
          </td>
          <td>
            <ul class="no-bullets">
              <li class="flex-row fragment">
                <i class="emo emoji-thumbup"></i>Quite good
              </li>
            </ul>
          </td>
        </tr>
      </if-cy>
    </table>
  </div>


</section>
