<section>
  <h2>Why investing in maintainability?</h2>


  <p class="mt-300r fragment">An E2E test have many reasons to fail</p>
  <ul class="fragment">
    <li>the application may not have been designed to be tested</li>
    <li>the UI can change frequently</li>
    <li>asynchronous nature of the browser</li>
  </ul>

  <p class="mt-200r fragment">
    As a result, a SDET can spend more than half of her time on test maintenance
  </p>

  <aside class="notes">SDET: automaticien</aside>
</section>

<section>

  <div class="flex-row mt-400r" >
    <div class="bubble bubble-bottom-left" style="width: 500px;">
      <i class="emo emo-36 emoji-point-up"></i>
      <div class="bubble__text">
        <p class="text-justify-left">
          “It’s harder to read code than to write it.”<br />
        </p>
        <div class="italic text-justify-right mt-25 fs-90p">
          Joel Spolsky
        </div>
      </div>
    </div>
  </div>

  <div class="flex-row justify-content--flex-end mt-400r fragment">
    <div class="bubble bubble-bottom-left">
      <i class="emo emo-36 emoji-face_with_monocle"></i>
      <div class="bubble__text">
        <p class="text-justify-left">
          “The ratio of time spent reading versus writing is well over
          10 to 1.<br />
          We are constantly reading old code as part of the effort to write new
          code.<br />
          ...[Therefore,] making it easy to read makes it easier to write.”<br />
        </p>
        <div class="italic text-justify-right mt-25 fs-90p">
          Robert C. Martin
        </div>
      </div>
    </div>
  </div>

</section>
