<section>
  <h2>Why investing in maintainability?</h2>

  <p class="mt-150 fragment">
    We spend much more time reading code, than writing it.<br />
    So the code should optimize for reading.
  </p>

  <p class="mt-150 fragment">An E2E test have many reasons to fail</p>
  <ul class="fragment">
    <li>the application may not have been designed to be tested</li>
    <li>the UI can change frequently</li>
    <li>asynchronous nature of the browser</li>
  </ul>

  <p class="fragment">
    As a result, a SDET can spend more than half of her time on test maintenance
  </p>

  <aside class="notes">SDET: automaticien</aside>
</section>
