<section>
  <h2 data-toc-exclude data-tags="practice" class="text-size-heading-3">
    Automate the verification with {%= e2eTool %}
  </h2>

  <div class="exercice text-level-3">
    <p>Let's code</p>
    <ul>
      <li>
        Automate the verification of the acceptance criteria identified during
        the specification workshop
      </li>
    </ul>

    <p>Commands</p>
    <ul>
      <li class="text-level-5">
        <code>cy.visit()</code>, <code>cy.get()</code>,
        <code>cy.contains()</code>, <code>cy.click()</code>,
        <code>cy.should()</code>
      </li>
    </ul>

    <p>Userful links</p>
    <ul style="font-size: 75%">
      <li class="url-link">https://docs.cypress.io/api/table-of-contents</li>
      <li class="url-link">
        https://www.w3schools.com/cssref/css_selectors.php
      </li>
      <li class="url-link">
        https://chromewebstore.google.com/detail/css-and-xpath-checker/aoinfihhckpkkcpholfhmkeplbhddipe
      </li>
    </ul>
  </div>

  <aside class="notes">
    <p>
      The teacher shows how to automate the tests on the toggle, the trainee
      repeats and automaite the tests on the detail.
    </p>

    <p>The spec file can be created from the Cypress dashboard.</p>
  </aside>
</section>
