<section class="text-level-3">
  <h2 class="text-size-heading-3">The Behaviour Driven Development approach</h2>

  {%- await include('diagram/bdd-workflow.ejs'); %}

  <img src="img/print/bdd-3.png" class="print" />

  <p class="fragment mt-125">
    For each story, and before the development, we agree on a set of concrete
    <strong>key examples</strong> that illustrate how the feature should work
  </p>

  <div class="flex-row flex-row--center">
    <ul class="mt-100 no-bullets">
      <li class="fragment">
        <i class="emo emoji-thumbup"></i>
        Shared understanding
      </li>
      <li class="fragment">
        <i class="emo emoji-thumbup"></i>
        The team discover unknown unknowns earlier
      </li>
      <li class="fragment">
        <i class="emo emoji-thumbup"></i>
        We get the <strong>Scenarios to automate</strong> out of the process
      </li>
    </ul>
  </div>

  <aside class="notes">
    We can add a design workshop in the process to prevent non testable code.
  </aside>
</section>
