
<section id="e2e-tests-dev-process" class="slide--part-title slide--vcenter">
  <div class="flex-row">
    <div class="part-title">
      <span class="text-level-4">Part 1</span>
      <h1 class="text-size-heading-2">Getting started</h1>
    </div>

    <div class="part-toc box fragment"></div>
  </div>
</section>
