<section>
  <h2 class="text-size-heading-2" data-tags="practice">
    First test: verify page title
  </h2>

  <app-exercise class="mt-300r fragment">
    <p>Implement a test to verify:</p>
    <div class="indented italic">
      <i>The home page title contains "All products"</i>
    </div>
  </app-exercise>

  <app-help class="mt-600r fragment">
    <p>Functions</p>
    <ul>
      <if-pw>
        <li><code>page.goto()</code></li>
        <li><code>expect(page).toHaveTitle()</code></li>
      </if-pw>
      <if-cy>
        <li>
          <code>cy.visit()</code>, <code>cy.title()</code>,
          <code>cy.should()</code>
        </li>
      </if-cy>
    </ul>
  </app-help>
    
  <aside class="notes">
    <if-pw>
      <pre><code class="ts">
        // home.spec.ts
        import { test, expect } from '@playwright/test'
        
        test('The home page title contains "All products', async ({ page }) => {
          await page.goto('/')
          expect(page).toHaveTitle(/\s*Tous les produits\s*/) 
        })
      </code></pre>
    </if-pw>
    <if-cy>
      <pre><code class="ts">
        // home-page.spec.cy.ts
        describe('home-page', () => {
          specify('the home page title contains "All products"', () => {
            cy.visit('/')
            cy.title().should('equals', 'All products | Simple commerce')
          })
        })
      </code></pre>
    </if-cy>
  </aside>
</section>
