<section>
  <h2 data-toc-label="Verify the mini-basket" data-tags="practice">
    Define acceptance criteria
  </h2>

  <div class="exercice">
    <p>The Product Owner presents a new story:</p>
    <div class="indented italic">
      As a shopper,<br />
      I want to see my basket content in the mini-basket,<br />
      so that I always know the basket's content and amount
    </div>
    <p class="mt-125">As a team, define acceptance criteria for this story</p>
  </div>

  <aside class="notes">
    <p>
      _The trainer takes the role of the Product Owner, the participants are the
      testers. They must suggest acceptance criteria to the PO._
    </p>
    <p>_The PO can show mockups or wireframes_</p>
    <p>
      _The PO can kindly reject some criterias if he thinks they are not
      required right now. Example : displaying discounts.
    </p>

    <p>Possible list:</p>

    <p>Toggle</p>
    <ul>
      <li>The mini basket always shows the number of products in basket</li>
      <li>When empty, it doesn't show the number of products in basket</li>
    </ul>

    <p>Detail</p>
    <ul>
      <li>
        _It contains basket entries (with prodcut name, quantity and price)
      </li>
      <li>_When empty, it informs the basket is empty</li>
    </ul>
  </aside>
</section>

<section>
  <h2 data-toc-exclude data-tags="practice" class="text-size-heading-3">
    Automate the verification with {%= e2eTool %}
  </h2>

  <div class="exercice text-level-3">
    <p>Exercice</p>
    <ul>
      <li>
        Automate the verification of the acceptance criteria identified during
        the specification workshop
      </li>
    </ul>

    <p>Commands</p>
    <ul>
      <li class="small">
        <code>cy.visit()</code>, <code>cy.get()</code>,
        <code>cy.contains()</code>, <code>cy.click()</code>,
        <code>cy.should()</code>
      </li>
    </ul>

    <p>Userful links</p>
    <ul class="small">
      <if-pw>
        <li>
          <app-link>
            https://playwright.dev/docs/api/class-page#methods
          </app-link>
        </li>
      </if-pw>
      <if-cy>
        <li>
          <app-link>https://docs.cypress.io/api/table-of-contents</app-link>
        </li>
      </if-cy>
      <li>
        <app-link>https://www.w3schools.com/cssref/css_selectors.php</app-link>
      </li>
      <li>
        <app-link>
          https://chromewebstore.google.com/detail/css-and-xpath-checker/aoinfihhckpkkcpholfhmkeplbhddipe
        </app-link>
      </li>
    </ul>
  </div>

  <aside class="notes">
    <p>
      The teacher shows how to automate the tests on the toggle, the trainee
      repeats and automaite the tests on the detail.
    </p>

    <p>The spec file can be created from the Cypress dashboard.</p>
  </aside>
</section>
