<section class="slide--part-title slide--vcenter">
  <div class="flex-row">
    <div class="part-title">
      <span class="text-level-4">Part ?</span>
      <h1 class="text-size-heading-2" style="width: 500px">
        Mobile&nbsp;tests
        <span class="tag tag--small tag--optional">Optional</span>
      </h1>
    </div>
  </div>
</section>
