<section class="slide--part-title slide--vcenter">
  <div class="flex-row">
    <div class="part-title">
      <part-number></part-number>
      <h1 class="text-size-heading-2" style="min-width: 700px">
        {%= title %}
        {% if (optional) { %}
          <span class="tag tag--small tag--optional">Optional</span>
        {% } %}
      </h1>
    </div>
    {% if (toc !== false ) { %}
    <div class="part-toc box fragment"></div>
    {% } %}
  </div>
</section>
