<section data-auto-animate>
  <h2>Agile testing quandrants</h2>
  <div class="flex-row flex-row--center">
    <img
      class="mt-0 fragment"
      src="img/agile-testing-quandrands.jpg"
      style="max-width: 60%"
    />
  </div>
</section>

<section data-auto-animate>
  <h2 data-toc-exclude>Agile testing quandrants</h2>

  <div class="flex-row text-level-4">
    <img
      class="screen"
      src="img/agile-testing-quandrands.jpg"
      style="max-width: 50%"
    />

    <div>
      <div class="">
        To succeed, you probably need tests from each quadrants!
      </div>
      <div class="mt-150 fragment">You can't automate everything</div>
      <p class="fragment">So, focus on:</p>
      <ul>
        <li class="fragment">Critical paths (eg. registration)</li>
        <li class="fragment">Risk areas (eg. payment)</li>
        <li class="fragment">
          Parts that are hard to test manually (eg. complex setup, multiple
          devices)
        </li>
      </ul>
    </div>
  </div>

  <aside class="notes">
    <p>What type of tests do you know?</p>
    <p>put them on a board as people give them, organized like the quadrant</p>
    <p>Which ones are necessary to succeed?</p>
    <p>
      Automated tests free testers up to focus on more exploratory-type testing
    </p>
  </aside>
</section>
