<section>
  <h2
    data-tags="practice"
    data-toc-label="Verify the delivery fees"
    class="text-size-heading-3"
  >
    Specification workshop for the delivery fees
  </h2>

  <app-exercise class="mt-500r">
    <p>The Product Owner presents a new story:</p>
    <div class="indented italic bold">
      Delivery fees are free for orders over 30€
    </div>
    <p class="mt-200r">As a team, define acceptance criteria for this story</p>
  </app-exercise>

  <aside class="notes">
    <u>Possible list:</u>
    <ul>
      <li>basket amount bellow 30€ -> delivery fees are charged 7€</li>
      <li>basket amount equals 30€ -> delivery fees are charged 7€</li>
      <li>basket amount over 30€ -> delivery fees offered</li>
    </ul>
  </aside>
</section>
<section>
  <h2 data-tags="practice" data-toc-exclude class="text-size-heading-3">
    Automate the delivery fees verification
  </h2>

  <app-exercise class="mt-500r">
    <p>Let's code</p>
    <ul>
      <li>
        Automate the most valuable acceptance criteria to verify the delivery
        fees
        <ul>
          <li>For baskets strictly bellow 30€, we charge 7€ delivery fees</li>
          <li>For baskets strictly over 30€, we offer delivery fees</li>
        </ul>
      </li>
    </ul>
  </app-exercise>
</section>
