<section>
    <h2 data-tags="practice, optional" class="text-size-heading-3">Run tests with distinct user accounts</h2>

    <app-exercise class="mt-500r">
        <p>Let's code</p>
        <ul>
            <li>In the test setup, create a dedicated user and use it throughout the test
        </ul>
    </app-exercise>
</section>