{%- await include('../components/slide--partTitle.ejs', {title: 'Mobile tests', optional: true, toc: false}); %}

<!-- to adapt -->

<section class="slide--vcenter">
  <div class="bubble bubble-bottom-left">
    <i class="emo emo-36 emoji-face_with_monocle"></i>
    <span class="bubble__text">
      Mobile rendering differs from desktop rendering...<br />
      How to deal with that in our tests?
    </span>
  </div>
</section>
  
{%- await include('mobile-specific-tests.ejs'); %}
{%- await include('test-with-several-viewports.ejs'); %}

  
  
  <section class="text-level-2">
    <p class="text-level-1 mt-100">
      Some test may be irrelevant on some devices
    </p>
  
    <div class="mt-400 fragment">
      Remember, <strong>tags</strong> may be used to include or exclude some tests
  
      <pre>
        <code class="ts">
          describe('A feature available on desktop only', () => {
            it('does something', { tags: ['desktopOnly'] }, () => {
              // ...
            })
          })
        </code>
      </pre>
    </div>
  
    <small class="mt-400 fragment">
      How to use <strong>@cypress/grep</strong>:<br />
      <a href="https://github.com/cypress-io/cypress/tree/develop/npm/grep">
        https://github.com/cypress-io/cypress/tree/develop/npm/grep
      </a>
    </small>
  </section>
  