{%- await include('../components/slide--partTitle.ejs', {title: 'Mobile tests', optional: true, toc: false}); %}

<!-- to adapt -->

<section class="slide--vcenter">
  <div class="bubble bubble-bottom-left">
    <i class="emo emo-36 emoji-face_with_monocle"></i>
    <span class="bubble__text">
      Mobile rendering differs from desktop rendering...<br />
      How to deal with that in our tests?
    </span>
  </div>
</section>
  
{%- await include('mobile-specific-tests.ejs'); %}
{%- await include('test-with-several-viewports.ejs'); %}

  
  